.async-view {
  .logo{
    width: 100px;
    height: 100px;
    background: yellowgreen
  }
  .red {
    color: red;
  }
  .echarts-box{
    width: 40%;
    margin: 10px auto;
    height: 500px;
  }
}