{
    "presets": [
        ["env", {"modules": false}],
        "stage-1",
        "react"
    ],
    "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "lib",
            "style": "css"
        }]
    ],
    "env": {
        "production": {
            "plugins": [[
                "transform-react-remove-prop-types",
                {
                    "removeImport": true,
                    "ignoreFilenames": ["node_modules"]
                }
            ]]
        },
        "development": {
            "plugins": ["react-hot-loader/babel"]
        }
    }
}
