@import "./assets/index.scss";
body {
  width: 100%;
}
.bonc-mung-loadding {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
}
